.small-card-container {
  width: 700px;
  margin: 10px;
}

.small-card-container-content {
  display: flex;
  flex-direction: row;
}

.small-card-photo > img {
  width: 200px;
  min-width: 180px;
  margin-right: 10px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card-container-line {
  margin-top: 10px;
}
