
<app-menu-title/>

<div class="articles-container">
  <div class="articles-main">
    <app-big-card
    cardId="1"
    photoCover="https://acdn.mitiendanube.com/stores/001/776/325/products/homem-aranha-digital-painel-still1-7c6d8a7721a8ba0e7516754450480051-1024-1024.jpg"
    cardTitle="Novo Homem Aranha anunciado"
    cardText="MarvelStudios apresenta novo homem aranha em evento nesse final de semana."/>
  </div>
  <div class="articles-others">
    <app-small-card
    cardId="2"
    photoCover="https://acdn.mitiendanube.com/stores/001/776/325/products/homem-aranha-digital-painel-still1-7c6d8a7721a8ba0e7516754450480051-1024-1024.jpg"
    cardTitle="Novo Homem Aranha anunciado"
    />
    <app-small-card
    cardId="3"
    photoCover="https://acdn.mitiendanube.com/stores/001/776/325/products/homem-aranha-digital-painel-still1-7c6d8a7721a8ba0e7516754450480051-1024-1024.jpg"
    cardTitle="Novo Homem Aranha anunciado"
    />
    <app-small-card
    cardId="4"
    photoCover="https://acdn.mitiendanube.com/stores/001/776/325/products/homem-aranha-digital-painel-still1-7c6d8a7721a8ba0e7516754450480051-1024-1024.jpg"
    cardTitle="Novo Homem Aranha anunciado"
    />
  </div>
</div>


